<div class="container">
  <div class="card border-success w-100">
    <h2 class="card-header border-success bg-transparent ">={{ resultado }}</h2>
    <div class="card-body">
      <input style="font-size: 200%" type="text" class="form-control card-text" placeholder="0" [value]="calcText" id="pantalla"
        autofocus appTextCalc>
    </div>

    <div class="card-footer bg-transparent border-success">
      <div class="row">
        <div class="col">
          <app-keypad (tecla)="getTecla($event)"></app-keypad>
        </div>
        <div class="col">
          <app-history></app-history>
        </div>
      </div>

    </div>

  </div>
  <p class="h1" *ngIf="textCursor">text cursor start="{{ textCursor.start }}" end="{{ textCursor.end }}"</p>
