<div class="container">

  <div class="row">
    <div class="col">
      <h2>={{ resultado }}</h2>
    </div>
    <div class="col-5">
      <app-history (HistorySelect)="calcForm.setValue($event)"></app-history>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <input [formControl]="calcForm" style="font-size: 3rem" type="text" class="form-control" placeholder="0" id="pantalla" autofocus
        appTextCalc>
    </div>
  </div>

  <div class="row">

    <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-3 order-last order-xl-last order-sm-last order-md-last">
      <div class="list-group">
        <button *ngFor="let calc of listCalc" (click)="calcSelect = calc" [class.active]="calcSelect === calc" class="list-group-item">
          {{calc}}
        </button>
      </div>
    </div>

    <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-9">
      <div class="row">
        <div class="col" *ngIf="calcSelect === 'cientifica'">
          <app-keypad-scientific (tecla)="getTecla($event)"></app-keypad-scientific>
        </div>
        <div class="col">
          <app-keypad (tecla)="getTecla($event)"></app-keypad>
        </div>
      </div>
    </div>


  </div>

  <p class="h1" *ngIf="textCursor">text cursor start="{{ textCursor.start }}" end="{{ textCursor.end }}"</p>
</div>
